table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}

div.col {
	display: inline-block;
	width: 14%;
	max-width: 14%;
	vertical-align: top;
}

div.row {
	margin: auto;
}

img.upvote {
	width: 15px;
	height: 15px;
}