table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}

div.col {
	text-align: center;
	display: inline-block;
	width: 13%;
	max-width: 13%;
	vertical-align: top;
	border-right-style: solid;
	border-color: black;
}

div.row {
	text-align: center;
	margin: auto;
	width: 50%;
	border-bottom-style: solid;
        border-bottom-color: black;
}

img.upvote {
	width: 15px;
	height: 15px;
}

body {
	text-align: center;
}

.form-group {
	width: 50%;
	display: inline-block;
}

button {
	width: 50%;
}
